  <footer class="page-footer transparent">
  <div class="footer maxwidth white z-depth-3 hoverable">
    <div class="container black-text">
      Epsi Sayidina - {{ metadata.now | date("Y") }}
      <a class="grey-text text-darken-3 right"
         href="https://www.11ty.io/">Eleventy</a>
    </div>
  </div>
  </footer>
