
<section class="aside-wrapper {{ color }}">
  <div class="widget white z-depth-3 hoverable">

    <div class="widget-header {{ color }} lighten-4">
    {% block widget_header %}
      <strong>Side Widget</strong>
      <i class="material-icons right">face</i>
    {% endblock %}
    </div>
    
    <div class="widget-body responsive-img">
    {% block widget_body %}
    {% endblock %}
    </div>

  </div>
</section>
