{% extends "layouts/widget.njk" %}

{% set color = 'pink' %}

{% block widget_header %}
  <strong>Web/Mobile Development</strong>
  <i class="material-icons right">face</i>
{% endblock %}

{% block widget_body %}
  {% set archives = archives_gitlab | values %}
  {% set posts = archives | shuffle | limit(5) %}

  <ul class="widget-list">
    {%- for post in posts -%}
    <li><a href="http://epsi-rns.gitlab.io{{ post.url }}"
      >{{ post.title }}</a></li>
    {%- endfor -%}
  </ul>
{% endblock %}

