
  <div class="white hoverable p-t-5 p-b-5">

    <div class="widget-header pink lighten-4">
      <strong>Social Accounts</strong>
      <i class="material-icons right">face</i>
    </div>
    
    <div class="widget-body pink lighten-5">
      <ul class="widget-list">
        <li><i class="material-icons tiny">send</i>
          <a href="https://t.me/cahgentoo">@cahgentoo</a>
        </li>
        <li><i class="material-icons tiny">image</i>
          <a href="http://nurwijayadi.deviantart.com/">nurwijayadi</a>
        </li>
        <li><i class="material-icons tiny">code</i>
          <a href="https://github.com/epsi-rns">epsi-rns</a>
        </li>
        <li><i class="material-icons tiny">code</i>
          <a href="https://gitlab.com/epsi-rns">epsi-rns</a>
        </li>
        <li><i class="material-icons tiny">code</i>
          <a href="https://bitbucket.org/epsi">epsi</a>
        </li>
      </ul>
    </div>
    
  </div>

