{% set totalPages = pagination.links.length %}
{% set current    = pagination.pageNumber + 1 %}

{# 
* Pagination links 
* https://glennmccomb.com/articles/how-to-build-custom-hugo-pagination/
* Adjacent: Number of links either side of the current page
#}

{% if totalPages > 1 %}
  {% set adjacentLinks = 2 %}
  {% set maxLinks      = (adjacentLinks * 2) + 1 %}
  {% set lowerLimit    = 1 + adjacentLinks %}
  {% set upperLimit    = totalPages - adjacentLinks %}

  <ul class="pagination">  

    <!-- Page numbers. -->
    {% for cursor, link in pagination.links | hashIt %}
      {% set showCursorFlag = false %}

      {% if (totalPages > maxLinks) %}
        <!-- Complex page numbers. -->

        <!-- Lower limit pages. -->
        <!-- If the user is on a page which is in the lower limit.  -->
        {% if (current <= lowerLimit) %}

          <!-- If the current loop page is less than max_links. -->
          {% if (cursor <= maxLinks) %}
            {% set showCursorFlag = true %}
          {% endif %}

        <!-- Upper limit pages. -->
        <!-- If the user is on a page which is in the upper limit. -->
        {% elif (current >= upperLimit) %}

          <!-- If the current loop page is greater than total pages minus $max_links -->
          {% if (cursor > (totalPages - maxLinks)) %}
            {% set showCursorFlag = true %}
          {% endif %}

        <!-- Middle pages. -->
        {% else %}
          
          {% if ( (cursor >= current - adjacentLinks) 
              and (cursor <= current + adjacentLinks) ) %}
            {% set showCursorFlag = true %}
          {% endif %}

        {% endif %}

      {% else %}
        <!-- Simple page numbers. -->
        {% set showCursorFlag = true %}
      {% endif %}

      <!-- Show Pager. -->
      {% if showCursorFlag %}
        {% if cursor != current  %}

        <li class="waves-effect">
          <a href="{{ link }}"
             aria-label="Goto page {{ cursor }}"
             class="{{ color }}-text text-darken-2">
            {{ cursor }}
          </a>
        </li>

        {% else %}

        <li class="active {{ color }}">
          <a aria-label="Page {{ cursor }}">
            {{ cursor }}
          </a>
        </li>

        {% endif %}
      {% endif %}

    {% endfor %}

  </ul>
{% endif %}
