
  <div class="row m-t-15">

    <div class="col s4 center-align">
      <img src="{{ "/assets/images/license/cc-by-sa.png" | url }}" 
           class="bio-photo"
           height="31"
           width="88"
           alt="CC BY-SA 4.0"></a>
    </div>

    <div class="col s8 left-align">
      This article is licensed under:&nbsp;
      <a href="https://creativecommons.org/licenses/by-sa/4.0/deed" 
         class="text-dark">
        <b>Attribution-ShareAlike</b> 4.0
        International (CC BY-SA 4.0)</a>
    </div>

  </div>


